.title {
    align-items: center;
}

.para {
    background-color: blue;
    padding: 10%;
}
.black {
    text-decoration-color: white;
}
.nav-container {
    text-size-adjust: 18;
    padding-left: 16px;
    background-color: black;
}