.title {
    align-items: center;
}

.para {
    background-color: blue;
    padding: 10%;
}
.black {
    text-decoration-color: white;
}
.nav-container {
    padding-left: 16px;
    background-color: black;
    padding: 16px;
}
.imground {
    border-radius: 4px;
}