.title {
    align-items: center;
}


.navbar {
    overflow: hidden;
}
.imground {
    border-radius: 4px;
}
.li{
    float: right;
}
.largetext {
    text-;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'monaco', 'monospace';
}
.navbar a:hover {
    color: rgb(155, 155, 155);
}
.centertext {
    text-align: center;
}
.webcontainer {
    padding: 32px;
}
.parallax {
    background-image: url("parrator.png");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }